.form {
  height: 100vh;
  background-color: blue;
  text-align: center;
  align-items: baseline;
  padding: 6rem 0 0 0;
}
.container {
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 5px 1px black;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

form {
  width: 20vw;
  height: 50vh;
  margin: 1rem 0 0 4rem;
}

input {
  height: 2.5rem;
  width: 24rem;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid gray;
}
button {
  padding: 12px 80px;
  margin: 2rem 0 0 7rem;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
}
