
nav{
    height: 3rem;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    padding-top: 26px;
    text-align: center;
} 
a{
    text-decoration: none;
    color: #fff;
    margin-left: 5rem;
}
a:hover{
    color: aqua;
    border-bottom: 2px solid green;
}